section .cart{
    position: relative;
    border: 1px solid #ccc;
}
.amount span{
    color: crimson;
    padding: 20px 20px 20px;
}
.amount .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.delete{
    top: 0px;
    right: 5px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}
.delete-detail{
    display: flex;
    justify-content: flex-end;
}
.total-block{
    display: flex;
    justify-content: center;
}
.total{
    border: 1px solid #eee;
    width: 35%;
    height: 70px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total a{
    margin-left: 30px;
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    margin-left: 20px;
    color: crimson;
}