.wholeblock{
    display: flex;
    justify-content: center;
    
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 40px 100px 40px 100px;
    border: 1px solid #eee;
    border-width: 4px;
    border-radius: 20px;
}
.delete-detail{
    display: flex;
    justify-content: flex-end;
    right: 0;
    flex-wrap: wrap;
}
.linethrough {
    text-decoration-line: line-through;
}
.details img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 30px;
}

.details .box{
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}
.box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box .row span{
    color: crimson;
    margin-left: 10px;
}
.box .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}
.buttonstyle{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}
.box p{
    line-height: 1.5;
    margin: 15px 0;
}
.box .cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}