
#product{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid #eee;
}
.news{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    min-width: 200px;
    min-height: 390px;

    position: relative;

    align-self: center;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 10px #ddd;
    transition: 0.5s linear;
}
.content {
    position: absolute;
    bottom: 0px;
    
}
.button:hover{
    display: flex;
    justify-content: center;
}
.card:hover{
    box-shadow: none;
}
.card img{
    margin-top: 5px;
    max-width: 300px;
    width: 100%;
    height: 30%;
    max-height: 280px;
    display: block;
    object-fit: initial;
}
.card h3{
    text-transform: uppercase;
    
    margin: 10px 0;
}
.card h3 a{
    text-decoration: none;
    color: #333;
}
.card h3 a:hover{
    color: crimson;
}
.card span{
    color: crimson;
}
.card p{
    margin: 10px 0;
}
.card button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: none;
    background: #333;
    color: white;
    width: 130%;
    height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.pricelinethrough {
    text-decoration-line: line-through;
}
.products-button button{
    display: flex;
    justify-content: center;
}

/* Discount span css*/

.first {
    position: relative;
}

.card .first span {
    position: absolute;

    color: black;
    padding: 1px 2px;
    margin: 10px;
    border-radius: 50px;
    background-color: #FFAA48;
    border: 1px solid #FFAA48;
    left: 0px;
    
    top: 0px;
    z-index: 1;
}